.cart h1 {
    color: crimson;
    font-weight: 500;
    font-family: cursive;
    margin: 40px 0px;
}

.single-order-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.cart-img {
    width: 50px;
    height: 50px;
    background-color: antiquewhite;
    border-radius: 50%;
    position: relative;
}

.cart-img img{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20%;
    right: 20%;
}

.cart-text {
    color: blueviolet;
    width: 150px;
}

.delete-btn {
    font-size: 25px;
    border: none;
    padding: 10px;
    border-radius: 50%;
    color: blueviolet;
}

.delete-btn:hover {
    color: crimson;
    transition: 0.4s;
}

.cart-btn {
    padding: 15px 30px;
    text-transform: uppercase;
    margin: 20px 0px;
    border-radius: 40px 5px;
    border: 2px solid crimson;
    color: blueviolet;
}

.cart-btn:hover {
    background-color: antiquewhite;
    transition: 0.2s;
    border: 2px solid blueviolet;
    border-radius: 10px 70px;
}