.mouse-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 30px;
    padding-bottom: 100px;
}

.all-mouse-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 100px;
}

.order-cart {
    background-color: rgba(181, 223, 190, 0.644);
    width: 350px;
    position: sticky;
    top: 0;
    border-radius: 90px 5px;
    height: 660px;
}

/* for mobile devices */
@media screen and (max-width: 768px) {
    .mouse-container  {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 30px;
    }

    .all-mouse-card {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .order-cart {
        position: static;
        margin: auto;
        border-radius: 10px;
        margin-top: 50px;
    }

}

/* for medium device */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .mouse-container  {
        display: flex;
        flex-direction: column-reverse;
    }

    .all-mouse-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        margin-top: 50px;
    }

    .order-cart {
        position: static;
        margin: auto;
        margin-top: 50px;
    }
}

/* for laptops */
@media screen and (min-width: 993px) and (max-width: 1400px) {
    .mouse-container {
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-gap: 30px;
    }

    .all-mouse-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
}