.mouse-card {
    text-align: center;
    background-color: rgb(203, 230, 230);
    padding: 50px 30px;
    border-radius: 20px 70px;
}

.mouse-card img{
    width: 300px;
    margin: auto;
    border-radius: 10px 50px;
}

.mouse-card  h3 {
    color: crimson;
    font-family: cursive;
    margin-top: 25px;
}

.mouse-card h4 {
    padding: 20px 0px;
}

.order-btn {
    padding: 0px 40px;
    border-radius: 70px 5px;
    border: 2px solid crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.order-btn:hover {
    background-color: antiquewhite;
    transition: 0.2s;
    border: 2px solid blueviolet;
    border-radius: 5px 70px;
}

.order-btn p {
    text-transform: uppercase;
    margin-top: 15px;
    margin-right: 10px;
    color: blueviolet;
}

.order-icon {
    font-size: 20px;
    color: blueviolet;
}